body {
    font-family: "Comic sans MS";
    background-color: rgb(235, 250, 245)
}

.general-header {
    border: 2px solid rgb(219, 207, 207);
    background-image: url("design1_image1.jpg");
    height: 280px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4.8em;
    color: rgb(15, 209, 90);
    margin-top: 10px;
    padding-left: 15px;
    text-shadow:  1px 1px 2px rgb(255, 255, 255);
}

h2 {
    text-align: center;
    margin-top: 0;
}

.rule-h2 {
    font-size: 2.5em;
}

.sub-title2 {
    font-style: italic;
    text-decoration: underline;
}

#overlay {
    position: relative;
}

.sub-title {
    display: inline;
}

.FranjaNegra {
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    color: white;
    border: 1.5px solid rgb(15, 15, 15);
    background-color: black;
}

.FranjaTransparente {
    position: absolute;
    width: 100%;
    height: 30px;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 15%;
    left: 80%;
}

.body-home {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 80px;
    margin-bottom: 50px;
    grid-gap: 30px;
}

.body-home div{
    text-align: left;
}

.nav-links {
    width: 60%;
    padding-left: 40px;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
}

.home-content {
    padding-left: 40px;
    width: 75%;
}

.titulo1 {
    margin-bottom: 35px;
    padding-top: 0px;
}

.titulo2 {
    font-style: italic;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titulo3 {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    margin-left: 30px;
    margin-top: 0px;
    text-align: justify;
}

.description2 {
    margin-left: 0px;
    margin-top: 0px;
}

.link {
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
}

.main-link {
    text-decoration: underline;
    font-size: 1.3em;
    color: blue;
}

.contact-email {
    color: blue;
    text-decoration: underline;
}

div ul {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th {
    border: 1px solid  rgb(128, 128, 128);;
}

.inf{
    border-bottom: 1px solid rgb(128, 128, 128);
}

.sup, .inf {
    border-right: 1px solid rgb(128,128,128);
}

th.date, th.team, th.location, th.time {
    text-align: center;
}

td, th {
    width: 25%;
}

h3 span {
    text-align: justify;
}

.par {
    margin-top: 10px;
    width: 100%;
    text-align: justify;
}

.div-email {
    font-weight: bold;
}

.class-ol li {
    padding-bottom: 10px;
}

.class-ol {
    text-indent: 0px;
}

ol.lista_alfa {
    list-style-type: lower-alpha;
    text-decoration: none;
    text-indent: 0px;
    text-align: justify;
}

.TituloParrafo {
    margin-bottom: 15px;
}

.ParrafoContent {
    list-style-type: square;
    margin-top: 0px;
    margin-bottom: 30px;
    text-decoration: none;
}

.ListaContenido {
    text-align: justify;
    text-indent: 0px;
}

.ulTodosJuegan {
    text-decoration: none;
    list-style-type: circle;
}