body {
    font-family: "Comic sans MS";
    background-color: rgb(235, 250, 245)
}

/*header {
    margin-top: 50px;
}*/

.general-header {
/*     border: 2px solid rgb(219, 207, 207); */
/*     background-image: url("/M1T2-Correo_y_archivos/design1_image1.jpg"); */
    /* height: 280px; */
    width: 100%;
    /* display: grid; */
/*     background-repeat: no-repeat;
    background-size: cover; */
    /* grid-template-rows: 90px 600px; */

}

/* #overlay {
    position: relative;
} */

h1 {
    font-size: 2.8em;
    color: rgb(29, 29, 29);
    margin-top: 10px;
    padding-left: 15px;
    /* text-shadow:  1px 1px 2px rgb(255, 255, 255); */
    /* position:initial; */
    margin-bottom: 0px;
}

.imagen2 {
    background-image: url("M1T2-Correo_y_archivos/design2_image1.jpg");
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
}

#logo {
    width: 150px;
    height: 150px;
}

.menu {
    width: 260px;
    height: 35px;
    position: absolute;
    top: 60px;;
    left: 75%;
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 35px 35px 35px;
    grid-gap: 25px;
}

.sub-title {
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    color: white;
    border: 1.5px solid rgb(15, 15, 15);
    background-color: black;
    position: relative;
    margin-top: 2px;

/*     background-image: url("M1T2-Correo_y_archivos/nysl_logo.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 80%; */
}

.body-home {
/*     border: 1px solid green; */
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 80px;
    margin-bottom: 50px;
    grid-gap: 30px;

}

.body-home div{
/*     background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black; */
    text-align: left;
}

.side1 {
/*     border: 1px solid green; */
    width: 60%;
    padding-left:40px;
    display: grid;
    grid-template-columns: 20px;
  /*   grid-template-rows: */
}

.home-content {
    padding-left: 40px;
/*     border: 1px solid red; */
    width: 80%;
}

.titulo1 {
    margin-bottom: 35px;
/*     border: 1px solid purple; */
    padding-top: 0px;
}

.titulo2 {
    font-style: italic;
/*     border: 1px solid blue; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.titulo3 {
    font-weight: bold;
    font-size: 1.1em;
/*     border: 1px solid blue; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    margin-left: 30px;
    margin-top: 0px;
    text-align: justify;
}

.description2 {
    margin-left: 0px;
    margin-top: 0px;
}

.link {
    text-decoration: none;
    color: rgb(3, 90, 14);
    font-size: 0.9em;
    /* height: 30px; */
    background-color: rgb(246, 232, 232);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 2.5;
    border: 1px solid black;
    text-shadow: 0.5px 0.5px 1px;
    /* box-shadow: 3px 3px #131212; */
    box-shadow: 3px 3px rgba(18, 19, 19, 0.6);
}

.link:hover {
    background-color: grey;
}

.link.active {
    font-size: 1.1em;
    line-height: 2;
    background-color:rgb(147, 214, 245);
}

.contact-email {
    color: blue;
    text-decoration: underline;
}